body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-section {
  border: 2px solid black;
  width: 100%;
}

.bookBlock {
  padding: 1px 10px;
  display: flex;
  justify-content: space-between;
}

.bookBlock:nth-child(odd) {
  background-color: rgb(209, 208, 208);
}

form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

form > * + * {
  margin-top: 20px;
}

.heading {
  font-weight: 600;
}

input {
  border: 2px solid black;
}

button {
  align-self: flex-end;
  box-shadow: 1px 2px 2px 1px black;
}

.remove-btn {
  align-self: center;
  height: 20px;
}
